footer
  .container
    .footer-wrap
      ul.foot-nav
        li
          a(href='#') Продукція
        li
          a(href='#') Новини
        li
          a(href='#') Послуги
        li
          a(href='#') Про компанію
        li
          a(href='#') Контакти
        li
          span.copy © 2016 LeBruk
      .foot-contact
        .with-socials
          .email
            span.icon-close-envelope
            span.text bblutsk@ukr.net
          .tel
            span.icon-phone-receiver
            span.text (0332) 28-04-80
          ul.socials
            li
              a(href='#')
                span.icon-vk-logo
            li
              a(href='#')
                span.icon-facebook-logo
            li
              a(href='#')
                span.icon-twitter-logo
            li
              a(href='#')
                span.icon-youtube-logo
        .address
          span.icon-location-pin
          span.text м. Луцьк, вул. Індустріальна 10, 43020
      .foot-logo
        a(href='#')
          img(src='icons/logo.inverse.svg')
      .foot-love
        .mirro-studio
          .m-text Сделано с любовью
          .hearts
            .heart1
            .heart2
            .heart3
            .heart4
          a(href="http://mirrostudio.com")  MirroStudio
