header
  nav.container
    a(href='#').logo
      img(src='icons/logo.svg' alt='LeBruk Logo')
    ul.menu
      li.active
        a(href='#')
          span.help Продукція
      li
        a(href='#')
          span.help Новини
      li
        a(href='#')
          span.help Послуги
      li
        a(href='#')
          span.help Про компанію
      li
        a(href='#')
          span.help Контакти
    ul.languages
      li.active
        a(href="#")
          span.help укр
      li
        a(href="#")
          span.help рус
