//Star Clients Slider Section

.clients-slider
  background: $light-grey
  #clientsCarousel
    padding: 47px 45px 42px 66px
    margin-bottom: 52px
    position: relative
    &:after
      content: ""
      width: 160px
      height: 100%
      position: absolute
      right: 0
      top: 0
      z-index: 0
      pointer-events: none
      background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(247,247,247,0.5) 30%, rgba(247,247,247,1) 100%)
      background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(247,247,247,0.5) 30%,rgba(247,247,247,1) 100%)
      background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(247,247,247,0.5) 30%,rgba(247,247,247,1) 100%)
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#f7f7f7',GradientType=1 )
    .slick-prev,.slick-next
      top: 50%
      width: auto
      height: auto
      margin-top: -40px

    .slick-prev
      left: 20px
    .slick-next
      right: 20px
    .item
      padding: 0 25px
      float: none
      display: inline-block
      vertical-align: middle
      text-align: center
      img
        margin: 0 auto
        display: block
        max-width: 100%
      a
        display: inline-block