.gradient-block
  background-color: #fec40e
  background-image: linear-gradient(21deg, #fb872b 0%, #fec40e 100%)
  padding-top: 65px
  padding-bottom: 25px
  .service-list
    margin:
      left: -15px
      right: -15px
    &:after, &:before
      content: ""
      display: table
    &:after
      clear: both
    .service-item
      width: 50%
      float: left
  .service-item
    width: 50%
    padding-bottom: 30px
    text-align: left
    padding:
      left: 15px
      right: 15px
    [class*="icon"]
      color: #000000
      display: block
      min-height: 90px
      &.icon-vector-1
        font-size: 6.1rem
      &.icon-vector-2
        font-size: 6.3rem
    .title
      font-size: 3rem
      font-weight: 700
      display: inline-block
      margin-bottom: 27px
      &:after
        content: ""
        background: #b1800e
        height: 1px
        display: block
    .info
      max-width: 370px
