.last-projects
  padding: 55px 0 0
  background: #f7f7f7
  .h2,h2
    margin-bottom: 46px
  .page-container
    padding-bottom: 81px
  .gallery
    &:after,&:before
      content: ""
      display: table
    &:after
      clear: both
    li
      width: 33.3%
      float: left
      &:nth-child(3n+1)
        clear: both
      a
        position: relative
        display: block
        text-decoration: none
        overflow: hidden
        background:
          position: center center
          repeat: no-repeat
        &:hover
          .hover-info
            opacity: 1
            visibility: visible
          .bg-blur
            opacity: 1
        .bg-blur,.hover-info
          position: absolute
          transition: all .1s linear 0s
          left: 0
          bottom: 0
        .bg-blur
          left: 0
          top: 0
          right: 0
          z-index: 11
          opacity: 0
        img
          width: 100%
          display: block
        .hover-info
          padding: 35px
          top: auto
          opacity: 0
          visibility: hidden
          z-index: 12
          span.place
            display: inline-block
            color: #fff
            font-size: 2.2rem
            border-bottom: 1px solid #fff
            margin-bottom: 15px
          span.work
            display: inline-block
            color: #fff
            font-size: 1.5rem