.main-slider
	display: block
	position: relative
	font-size: 0
	padding:
		top: 20px
		bottom: 52px
	margin:
		left: auto
		right: auto
	#main-slider
		position: relative
		width: 40%
		display: inline-block
		vertical-align: top
		.view-catalog
			z-index: 12
			position: absolute
			bottom: 0
			right: 0

		.item
			overflow: hidden
			position: relative
			.mask-wrap
				display: block
				position: relative
				margin:
					left: -55px
				> img
					width: 100%
					display: block
					position: relative
					z-index: 11
				.img
					left: 2px
					overflow: hidden
					z-index: 10
					top: 2px
					right: 2px
					bottom: 2px
					position: absolute
					img
						//+center(xy)
						display: block
						min-width: 100%
						min-height: 100%
	#main-slider-nav
		width: 60%
		display: inline-block
		vertical-align: top
		.slick-list
			padding-right: 120px!important
		.item
			opacity: .5
			cursor: pointer
			&.slick-current
				cursor: default
				opacity: 1
			.description
				p
					max-width: 520px
				padding:
					top: 10px
					left: 50px
			.extra-img
				position: relative
				display: inline-block
				padding:
					right: 46px
					top: 60px
				img
					width: auto
					display: block
			.price
				+vertical
				background: url("../icons/hex.svg") no-repeat 0 0 scroll transparent
				background-size: cover
				width: 95px
				height: 98px
				position: absolute
				right: 0
				bottom: 65px
				.help
					color: #ffffff
					line-height: 1
					.currency
						display: block
						font:
							size: 1.4rem
							weight: 300

					font:
						size: 2.8rem
						weight: 700
			p
				margin-bottom: 0
				color:  #2e2e2e
				display: block




