.trust-us-section
  position: relative
  padding: 73px 0 0
  .left-block
    float: left
    width: 42%
    text-align: left
    .text-left
      padding-top: 18px
  .h2,h2
    margin-bottom: 42px
  p
    margin-bottom: 25px
  .collage
    position: relative
    float: right
    z-index: 100
    width: 58%
    margin-bottom: -58px
    [class*="hex"]
      position: relative
      display: block
      .caption
        position: absolute
        left: 0
        top: 0
        bottom: 0
        right: 0
        overflow: hidden
        +vertical
        .help
          max-width: 100%
          line-height: 1
          .c-hint
            display: block
            color: #ffffff
            text-align: center
            font:
              size: 2rem
              weight: 300
          .count
            color: #fec40e
            font:
              weight: 700
              size: 10rem
      &.hex1
        width: 214px
        height: 224px
        z-index: 10
        float: left
        margin: 55px 0 0 293px
      &.hex2
        width: 291px
        height: 303px
        clear: both
        float: left
        margin: -76px 0 0 32px
        z-index: 11
      &.hex3
        float: right
        clear: both
        width: 448px
        height: 470px
        margin: -240px -215px 0 0px
        z-index: 12
        .caption
          padding-left: 55px
          text-align: left
          .sup
            vertical-align: top
            font-size: 6rem
          .help
            .c-hint
              text-align: left
            .count
              text-align: left
              display: block
              color: #ffffff

      img
        width: 100%
        display: block


//.prof-block
//  .content-container
//    padding-top: 75px
//    padding-bottom: 110px
//    font-size: 0
//    .prof-info
//      position: relative
//      max-width: 410px
//      line-height: 1.4
//      h3.title
//        border-bottom: none
//        margin-bottom: 45px
//      .info
//        margin-bottom: 20px
//        p
//          font-size: 1.5rem
//          padding-bottom: 30px
//    .hexagon-black,
//    .hexagon-grey,
//    .hexagon-yellow
//      position: absolute
//      .hex-text
//        position: absolute
//        +center(xy)
//        top: 46%
//        span
//          display: block
//          text-align: center
//          line-height: 1
//          color: $orange
//          font-size: 10rem
//          +bold-f
//        .sub-text
//          font-size: 2rem
//          color: #fff
//          +light-f
//    .hexagon-black
//      width: 290px
//      left: 42%
//      top: 35%
//    .hexagon-grey
//      width: 215px
//      left: 68%
//      top: 15%
//      .hex-text
//        width: 200px
//    .hexagon-yellow
//      width: 420px
//      right: -115px
//      top: 44%
//      .hex-text
//        width: 100%
//        top: 50%
//        span
//          color: #fff
//          sup
//            font-size: 60%
//        .sub-text
//          padding-left: 34px
//          text-align: left


//End Professionals Section