head(manifest="default.appcache" lang="ru-RU")
	title LeBruk

	meta(http-equiv="Content-Type" content="text/html; charset=utf-8")

	link(rel="apple-touch-icon" sizes="57x57" href="icons/favicon/apple-icon-57x57.png")
	link(rel="apple-touch-icon" sizes="60x60" href="icons/favicon/apple-icon-60x60.png")
	link(rel="apple-touch-icon" sizes="72x72" href="icons/favicon/apple-icon-72x72.png")
	link(rel="apple-touch-icon" sizes="76x76" href="icons/favicon/apple-icon-76x76.png")
	link(rel="apple-touch-icon" sizes="114x114" href="icons/favicon/apple-icon-114x114.png")
	link(rel="apple-touch-icon" sizes="120x120" href="icons/favicon/apple-icon-120x120.png")
	link(rel="apple-touch-icon" sizes="144x144" href="icons/favicon/apple-icon-144x144.png")
	link(rel="apple-touch-icon" sizes="152x152" href="icons/favicon/apple-icon-152x152.png")
	link(rel="apple-touch-icon" sizes="180x180" href="icons/favicon/apple-icon-180x180.png")
	link(rel="icon" type="image/png" sizes="192x192"  href="icons/favicon/android-icon-192x192.png")
	link(rel="icon" type="image/png" sizes="32x32" href="icons/favicon/favicon-32x32.png")
	link(rel="icon" type="image/png" sizes="96x96" href="icons/favicon/favicon-96x96.png")
	link(rel="icon" type="image/png" sizes="16x16" href="icons/favicon/favicon-16x16.png")
	link(rel="manifest" href="icons/favicon/manifest.json")
	meta(name="msapplication-TileColor" content="#ffffff")
	meta(name="msapplication-TileImage" content="icons/favicon/ms-icon-144x144.png")
	meta(name="theme-color" content="#ffffff")

	meta(name="description" content="")
	meta(name="keywords" content="")
	meta(name="author" content="")
	meta(name="copyright" content="(c)")
	meta(http-equiv="Reply-to" content="mail@yandex.ru")


	//link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css')
	//link(href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css')
	link(href='https://fonts.googleapis.com/css?family=Roboto:400,300,900,700&subset=latin,cyrillic' rel='stylesheet' type='text/css')
	link(rel="stylesheet" href="stylesheets/lebruk.min.css")

	//[if gte IE 9]>
	//script(src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js")
	//script(src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js")
	//<![endif]

	meta(name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no, maximum-scale=1.0")
	meta(name="HandheldFriendly" content="True")
	meta(http-equiv="Cache-Control" content="no-cache")
	meta(http-equiv="cleartype" content="on")
	meta(name="apple-mobile-web-app-capable" content="yes")
	meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
	meta(name="application-name" content="Title")
	meta(name="msapplication-tooltip" content="Description")
	meta(name="msapplication-window" content="width=400;height=300")
	meta(http-equiv="imagetoolbar" content="no")
	meta(http-equiv="X-UA-Compatible" content="IE=edge")
	meta(http-equiv="msthemecompatible" content="no")
	meta(name="format-detection" content="telephone=no")
	meta(name="format-detection" content="address=no")