script(type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js")
script(src="js/jquery-pixel-perfect.js")
script(type="text/javascript" src="js/lebruk.lib.min.js")
script(type="text/javascript" src="js/config.min.js")
