.w-btn
  display: inline-block
  vertical-align: middle
  text-decoration: none
  position: relative
  cursor: pointer
  outline: 0
  height: 65px
  width: auto
  padding: 0 45px
  color: #fff
  text-align: center
  line-height: 1
  background: #000
  border: 1px solid transparent
  +vertical
  border-radius: 0
  min-width: 228px
  transition: all .1s linear 0s
  &:hover
    background: #6b6c6d
  .help
    color: #FFF
    font-size: 1.6rem
    font-weight: 700
    border-bottom: 1px solid #4c4c4c
  &:hover
    .help
      border:
        color: transparent
      color: #ffffff
  &.gray-btn
    background: #6b6c6d
    &:hover
      background: #6b6c6d





