@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon/fonts/icomoon.eot?gzp9up');
  src:  url('../fonts/icomoon/fonts/icomoon.eot?gzp9up#iefix') format('embedded-opentype'),
  url('../fonts/icomoon/fonts/icomoon.woff2?gzp9up') format('woff2'),
  url('../fonts/icomoon/fonts/icomoon.ttf?gzp9up') format('truetype'),
  url('../fonts/icomoon/fonts/icomoon.woff?gzp9up') format('woff'),
  url('../fonts/icomoon/fonts/icomoon.svg?gzp9up#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-vector-2:before {
  content: "\e90e";
}
.icon-vector-1:before {
  content: "\e90d";
}
.icon-high-arrow-left:before {
  content: "\e900";
}
.icon-high-arrow-right:before {
  content: "\e901";
}
.icon-close:before {
  content: "\e902";
}
.icon-close-envelope:before {
  content: "\e903";
}
.icon-facebook-logo:before {
  content: "\e904";
}
.icon-hexagon1:before {
  content: "\e905";
}
.icon-location-pin:before {
  content: "\e906";
}
.icon-menu-button-of-three-horizontal-lines:before {
  content: "\e907";
}
.icon-phone-receiver:before {
  content: "\e908";
}
.icon-right-arrow:before {
  content: "\e909";
}
.icon-twitter-logo:before {
  content: "\e90a";
}
.icon-youtube-logo:before {
  content: "\e90b";
}
.icon-vk-logo:before {
  content: "\e90c";
}

