//@import "checkbox"
//@import "radiobutton"
.right-aside
  form
    padding-bottom: 35px
    position: relative
    padding-top: 294px
    &:before
      background: url("../images/ask-women.jpg") no-repeat center 0 scroll transparent
      content: ""
      left: 0
      top: 0
      z-index: 0
      right: 0
      height: 294px
      position: absolute
form
  .shade
    background: #f7f7f7
    padding:
      top: 31px
      left: 16px
      right: 16px
  .form-header
    position: relative
    z-index: 10
    color: #FFFFFF
    text-align: center
    text-transform: uppercase
    padding: 10px 0
    font:
      size: 1.8rem
      weight: 700
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.16)
    background: #272727
    display: block
  .form-group
    display: block
    padding-bottom: 14px

    &.warning
      .field-load-media
        .label-loaded
          &:before
            content: "\e910"
            opacity: 1
            color: #ff0000
            visibility: visible
    &.success
      .field-load-media
        .label-loaded
          &:before
            opacity: 1
            visibility: visible
    .shadow
      box-shadow: 0 3px 7px rgba(201,194,194,.16)
    .form-controls
      position: relative
      //+placeholder(rgba(#000,1),rgba(#000,1))
      &.error
        input[type="text"],
        input[type="tel"],
        input[type="email"],
        input[type="password"],
        input[type="search"],
        textarea
          border-bottom-color: $red
        .errorMessage
          text-align: left
          color: $red
          font-size: 12px
          margin: 6px 0 0
          padding: 0 10px
    input[type="text"],
    input[type="tel"],
    input[type="email"],
    input[type="password"],
    input[type="search"],
    textarea
      border: 1px solid #ebebeb
      background: #fff
      outline: 0
      font-size: 1.4rem
      font-weight: 300
      text-align: left
      width: 100%
      transition: all .1s linear 0s
      border-radius: 0
      color: #979696
      &:placeholder
        color: #979696
      &:focus
        &:placeholder
          color: #000000
        color: #000
        border:
          color: #000000
        text-transform: none
      &:disabled
        border-color: #dddcdd
        padding: 0 50px 0 10px
        text-align: left
        letter-spacing: 0
        text-transform: none
        $left-position: calc(100% - 15px)
        background: url('../icons/block.svg') no-repeat $left-position center #fff
        color: rgba(#272320,0.5)
    input[type="text"],
    input[type="tel"],
    input[type="email"],
    input[type="search"],
    input[type="password"]
      height: 39px
      padding: 0 15px
    input[type="search"]
      -webkit-appearance: none
    input[type="password"]
      text-transform: none!important
    textarea
      resize: none
      padding: 15px
      height: 285px

  .order-price
    color: #d7141a
    padding-top: 20px
    text-align: center
    padding-bottom: 35px
    .price
      font:
        size: 2.4rem
        weight: 700
        family: Arial
      text-transform: uppercase

      display: block
    .title
      text-transform: uppercase
      padding-bottom: 10px
      display: block
      font:
        size: 2rem

  .field-load-media
    &.multi-columns
      .jFiler-items-list
        margin:
          left: -8px
          right: -8px
        &:after,&:before
          content: ""
          display: table
        &:after
          clear: both
        li
          &:nth-child(3n+1)
            clear: both
          width: 33.3333%
          padding:
            left: 8px
            right: 8px
            bottom: 16px
          float: left
    .load-field
      display: inline-block
      vertical-align: top
      margin-left: -140px
      width: 140px
    .label-loaded
      padding:
        top: 10px
        right: 150px
        bottom: 10px
        left: 15px
      vertical-align: top
      display: inline-block
      &:before
        position: absolute
        left: -5px
        top: 50%
        display: block
        opacity: 0
        visibility: visible
        transition: all .1s linear 0.1s
        margin-top: -6px
        font:
          size: 1.2rem
        color: #299f29
        +icomoon
        content: "\e90e"
      position: relative
      font:
        size: 1.6rem
        weight: 300
      color: #979696


.datepicker
  position: relative
  .datepick-trigger
    &:hover
      &:before
        color: #000000
    width: 40px
    height: 100%
    background: transparent
    border: 0
    padding: 0
    outline: 0
    top: 0
    right: 0
    &:before
      font:
        size: 2rem
      color: #c1c0c0
      +icomoon
      content: "\e90f"
    position: absolute
.hint
  float: right
  font:
    size: 1.1rem
    weight: 300
  color: #bfbfbf
  clear: both
  padding:
    left: 15px
    top: 5px
    bottom: 5px
  text-align: left
  width: 140px
.jFiler-items-list
  position: relative
  overflow: hidden
  .jFiler-item-others
    padding: 10px
    &.text-success
      color: #299f29
    &.text-error
      color: #ff0000
  li
    .jFiler-item-inner
      position: relative
  img
    border: 1px solid #ebebeb
    width: 100%
    display: block
  .icon-jfi-trash
    position: absolute
    top: 0
    right: 0
    width: 27px
    height: 27px
    background: #c1c0c0
    color: #ffffff
    cursor: pointer
    &:hover
      background: #ffffff
    +vertical
    border-radius: 50%
    &:before
      display: inline-block
      vertical-align: middle
      font:
        size: 1rem
      +icomoon
      content: "\e90c"
.jFiler-input-dragDrop
  text-align: right
  margin-top: -39px
  display: inline-block
  width: 100%

  .jFiler-input-inner
    cursor: pointer
    &:hover
      border:
        color: #da383d
      .jFiler-input-text,
      .icon-camera
        color: #da383d
    .icon-camera
      color: #c1c0c0
      font:
        size: 1.6rem
      line-height: 3.9rem
      position: absolute
      right: 0
      top: 0
      height: 39px
      text-decoration: none
      width: 40px
      text-align: center
    .jFiler-input-text
      color: #979696
      text-align: left
      padding:
        left: 15px
        right: 15px
      font-size: 1.4rem
      line-height: 1
      display: inline-block
      vertical-align: middle
    display: block
    float: right
    +vertical
    position: relative
    z-index: 101
    height: 39px
    box-shadow: 0 3px 7px rgba(201,194,194,.16)
    color: #979696
    background: #ffffff
    text-align: left
    border: 1px solid #ebebeb
    width: 140px
.form-report
  text-align: center
  padding: 200px 0 150px
  text-transform: uppercase
  .large
    font:
      size: 2.8rem
      weight: 700
    color: #272727
    padding-bottom: 35px
  .red
    color: #fa0303
    font:
      family: Arial
      size: 2.4rem
@media (max-width: 600px)
  .inner-page
    form
      .shade
        margin:
          left: -10px
          right: -10px

  .form-report
    padding:
      top: 50px
      bottom: 40px
  form
    .field-load-media
      .label-loaded
        padding-right: 0
    .jFiler-input-dragDrop
      margin-top: 0
      .jFiler-input-inner, .hint
        width: 100%
  form
    .field-load-media
      &.multi-columns
        .jFiler-items-list
          li
            width: 50%
            &:nth-child(2n+1)
              clear: both
            &:nth-child(3n+1)
              clear: none


















