section.last-projects
  .content-container
    h3.title Останні виконані проекти
  .page-container
    ul.gallery
      each val in ['images/works/img-1.jpg','images/works/img-2.jpg','images/works/img-3.jpg','images/works/img-4.jpg','images/works/img-5.jpg','images/works/img-6.jpg','images/works/img-7.jpg','images/works/img-8.jpg','images/works/img-9.jpg']
        li
          a(href='#')
            img(src=val)
            .hover-info
              span.place Кузнецовськ
              span.work Укладання бруківки в м. Кузнецовськ (об’єкт № 9)