section.presentation
  .container
    .hexagon
      img(src='images/main-slider-item.jpg')
      .icon-hexagon1
      a(href='#').w-btn
        span.help Дивитися каталог
    .blocks-slider#blocksCarousel
      .item
        .item-top
          .item-img
            img(src='images/blocks-slider/main-slider-extra_img.png')
            .item-price
              img(src='images/hexagon-small.png')
              .price
                span 57.00
                span.currency грн/м2
          .item-info
            h3.title Старе місто
            .info
              p Перетворіть свій двір у затишний куточок старого міста. Відчуйте подих часу, крокуючи бруківкою, що увібрала в себе легку ходу вишуканих панночок, стук коліс екіпажів, метушню ярмаркової площі, аромат легенд величних замків. Різнобарвні округлі камені запрошують відкрити їх таємниці.
      .item
        .item-top
          .item-img
            img(src='images/blocks-slider/main-slider-extra_img.png')
            .item-price
              img(src='images/hexagon-small.png')
              .price
                span 57.00
                span.currency грн/м2
          .item-info
            h3.title Старе місто
            .info
              p Перетворіть свій двір у затишний куточок старого міста. Відчуйте подих часу, крокуючи бруківкою, що увібрала в себе легку ходу вишуканих панночок, стук коліс екіпажів, метушню ярмаркової площі, аромат легенд величних замків. Різнобарвні округлі камені запрошують відкрити їх таємниці.
      .item
        .item-top
          .item-img
            img(src='images/blocks-slider/main-slider-extra_img.png')
            .item-price
              img(src='images/hexagon-small.png')
              .price
                span 57.00
                span.currency грн/м2
          .item-info
            h3.title Старе місто
            .info
              p Перетворіть свій двір у затишний куточок старого міста. Відчуйте подих часу, крокуючи бруківкою, що увібрала в себе легку ходу вишуканих панночок, стук коліс екіпажів, метушню ярмаркової площі, аромат легенд величних замків. Різнобарвні округлі камені запрошують відкрити їх таємниці.