section.prof-block
  .content-container
    .prof-info
      h3.title Довірте свої клопоти професіоналам
      .info
        p Ми працюємо на результат, а він очевидний. Наша продукція користується неабиякою популярністю. Як показує практика, бруківка має прекрасні експлуатаційні характеристики та довгий термін служби.
        p Якісна бруківка, професійне вкладання, оптимальні ціни. Це те, що пропонуємо вам ми. Компанія «Бетон Брук Серсіс» — команда тих, хто дбає про ваш комфорт. Ретельно дбаємо, щоб кожен замовник був задоволений співпрацею з нами.
        p Ми звикли працювати на результат та задля вашого майбутнього.
      a.w-btn.grey-btn(href='#')
        .help З нами легко зв’язатися
    .hexagon-black
      img(src='images/hexagon-black.png')
      .hex-text
        span 265
        span.sub-text успішних проектів
    .hexagon-grey
      img(src='images/hexagon-grey.png')
      .hex-text
        span 13
        span.sub-text років на ринку
    .hexagon-yellow
      img(src='images/hexagon-yellow.png')
      .hex-text
        span 2658 м<sup>2</sup>
        span.sub-text викладено площі

