footer
  height: 110px
  margin-top: -110px
  background: $black
  position: relative
  .container
    height: 100%
    max-width: 1195px
    .footer-wrap
      height: 100%
      width: 100%
      display: table
      .foot-nav,
      .foot-contact,
      .foot-logo,
      .foot-love
        display: table-cell
        vertical-align: middle
        color: $medium-grey
        font-size: 1.3rem
        line-height: 1.4
      .foot-nav
        width: 34%
        font-size: 0
        li
          font-size: 1.3rem
          display: inline-block
          width: 50%
          a
            color: $medium-grey
      .foot-contact
        width: 36%
        .with-socials
          width: 253px
          position: relative
          padding-right: 135px
          .email,
          .tel
            .text
              display: inline-block
              vertical-align: middle
              width: 100%
              padding-left: 21px
            [class^='icon']
              font-size: 1.3rem
              display: inline-block
              vertical-align: middle
              margin-right: -13px
          .socials
            position: absolute
            right: 0
            top: 4px
            margin: 0 -3px
            li
              display: inline-block
              vertical-align: middle
              padding: 0 3px
              a
                display: inline-block
                [class^='icon-']
                  font-size: 1.9rem
                  color: $medium-grey
                  transition: all .2s linear 0s
                &:hover
                  .icon-vk-logo
                    color: $vk
                  .icon-facebook-logo
                    color: $facebook
                  .icon-twitter-logo
                    color: $twitter
                  .icon-youtube-logo
                    color: $youtube
        .address
          .text
            display: inline-block
            vertical-align: middle
            width: 100%
            padding-left: 21px
          [class^='icon']
            font-size: 1.3rem
            display: inline-block
            vertical-align: middle
            margin-right: -13px
      .foot-logo
        a
          width: 75px
          display: inline-block
          img
            width: 100%
            filter: grayscale(100%)
            transition: all .2s linear 0s
          &:hover
            img
              filter: none
      .foot-love
        text-align: right