header
  position: relative
  z-index: 101
  .container
    padding:
      left: 211px
      top: 50px
      bottom: 50px
  ul.languages
    position: absolute
    right: 0
    top: 0
    +vertical
    height: 100%
    text-align: right
    font:
      size: 0
    li
      display: inline-block
      vertical-align: middle
      &.active
        a
          border:
            color: #cdcdcd
          padding: 0
          color: #cdcdcd
          .help
            &:after
              display: none
            font:
              weight: 400
      a
        border: 1px solid transparent
        background: #ffffff
        display: block
        text-decoration: none
        height: 31px
        min-width: 51px
        padding:
          left: 4px
          right: 4px
        text-align: center
        color: #2e2e2e
        border-radius: 5px
        +vertical
        &:hover
          .help
            &:after
              background: #000000
        .help
          font:
            weight: 900
            size: 1.6rem
          &:after
            vertical-align: middle
            background: #cdcdcd
            position:
            height: 1px
            content: ""
            display: block
  ul.menu
    li
      display: inline-block
      vertical-align: middle
      margin-right: 56px
      &.active
        a
          &:after
            display: none
          &:before
            background: url("../icons/hex.svg") no-repeat center center scroll transparent
            background-size: cover
            content: ""
            width: 144px
            height: 148px
            position: absolute
            left: 50%
            top: 50%
            margin: -72px 0 0 -72px
            display: block
      a
        position: relative
        font-weight: 700
        text-decoration: none !important
        transition: all .2s linear 0s
        &:hover
          &:after
            background: #000000
        .help
          position: relative
          z-index: 10
          font:
            weight: 900
            size: 1.6rem
        &:after
          position: absolute
          display: block
          left: 0
          bottom: 0
          height: 1px
          background: #dedede
          width: 100%
          content: ""

  .logo
    position: absolute
    left: 16px
    top: 17px
    display: block
    width: 149px
    text-decoration: none
    img
      display: block
      width: 100%
