@import "header"
@import "footer"
@import "main/main.slider"
@import "main/gradient.block"
@import "main/trust.us.section"
@import "main/last.projects"
@import "main/clients.slider"


body
  height: 100%
  line-height: 1.4
  font:
    family: "Roboto", sans-serif
.wrapper
  min-height: 100%
  padding-bottom: 120px
  //max-width: 1350px
  overflow: hidden
  margin:
    left: auto
    right: auto

.container, .inner-container
  &:after, &:before
    display: table
    content: ""
  &:after
    clear: both
.container
  margin: 0 auto
  position: relative
  max-width: 1350px
.inner-container
  max-width: 970px
  position: relative
  margin: 0 auto
.main
  padding:
    bottom: 80px

//h3.title
//  display: inline-block
//  color: $black
//  +bold-f
//  font-size: 4rem
//  border-bottom: 1px solid #b3b3b3
//  margin-bottom: 20px
//h4.title
//  display: inline-block
//  color: #000
//  +bold-f
//  font-size: 3rem
//  border-bottom: 1px solid #b17c0f
//  padding-bottom: 3px
//  margin-bottom: 30px
h2,.h2
  margin-bottom: 20px
  font:
    size: 4rem
    weight: 700
  color: #2e2e2e
  display: block
  line-height: 1.2
  &.title
    a, .a
      &:after
        content: ""
        background: #b2b2b2
        height: 1px
        width: 100%
        display: block
  a, .a
    text-decoration: none
    color: inherit
    display: inline-block


p
  margin-bottom: 20px
  color: #000000
  font:
    size: 1.5rem
  line-height: 2.5rem
.j-pp-mockup
  pointer-events: none
  width: 100% !important
  background-position: center 0 !important
  position: absolute !important
  opacity: .6
.slick-prev,.slick-next
  &:before
    color: #cfcfcf
    font-size: 8rem
    +icomoon
.slick-prev
  &:before
    content: '\e900'
.slick-next
  &:before
    content: '\e901'
.full-width-banner
  position: relative
  overflow: hidden
  .caption
    position: absolute
    left: 0
    top: 0
    bottom: 0
    right: 0
    +vertical
    .help
      font-size: 6rem
      font-weight: 700
      letter-spacing: .4rem
      line-height: 7rem
      text-transform: uppercase
      color: #ffffff
  img
    display: block
    width: 100%




