=center($xy:xy)
  @if $xy == xy
    left: 50%
    top: 50%
    bottom: auto
    right: auto
    transform: translateX(-50%) translateY(-50%)
  @else if $xy == x
    left: 50%
    right: auto
    transform: translateX(-50%)
  @else if $xy == y
    top: 50%
    bottom: auto
    transform: translateY(-50%)
=font-smoothing
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

=hexagon
  &:before
    color: #fff
    display: block
    font-size: 21.25rem
    left: 0
    position: absolute
    top: 0
    z-index: 11
