// colors
$black: #2e2e2e;
$grey: #6b6c6d;
$medium-grey: #8b8a8a;
$light-grey: #f7f7f7;
$orange: #fec40e;
$red: #e2001a;

//social media colors
$twitter: #00aced;
$facebook: #3b5998;
$vk: #45668e;
$youtube: #bb0000;

// fonts
$arial: Arial, sans-serif;
$open-sans: 'Open Sans', Helvetica, Arial, sans-serif;

//@mixin bold-f {
//  font: {
//    family: 'Roboto', Helvetica, sans-serif;
//    weight: 700;
//  }
//}
//@mixin regular-f {
//  font: {
//    family: 'Roboto', Helvetica, sans-serif;
//    weight: 400;
//  }
//}
//@mixin light-f {
//  font: {
//    family: 'Roboto', Helvetica, sans-serif;
//    weight: 300;
//  }
//}

