.fade
  opacity: 0
  -webkit-transition: opacity 0.15s linear
  -o-transition: opacity 0.15s linear
  transition: opacity 0.15s linear
  &.in
    opacity: 1
.modal-open
  overflow: hidden
  .modal
    overflow-x: hidden
    overflow-y: auto
.modal-backdrop
  position: absolute
  top: 0
  right: 0
  left: 0
  bottom: 0
  z-index: 1000
  //background-color: #000000
  &.fade
    opacity: 0
    filter: alpha(opacity=0)
  &.in
    opacity: 0.75
    filter: alpha(opacity=75)
.hide
  display: none !important
.show
  display: block !important
.invisible
  visibility: hidden
.hidden
  display: none !important
  visibility: hidden !important
.affix
  position: fixed
.modal
  display: none
  overflow: hidden
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  z-index: 1040
  -webkit-overflow-scrolling: touch
  outline: 0
  background: rgba(#110C15,0)
  padding: 0 10px!important
  .close
    display: block
    position: absolute
    outline: none
    cursor: pointer
    right: 10px
    top: 10px
    height: 20px
    overflow: hidden
    text-align: center
    color: #151416
    padding: 0 0
    background: transparent
    border: none
    transition: all 0.3s ease 0s
    span.ico-close
      display: block
      text-align: center
      font-size: 32px
      line-height: 0
      transition: all 0.3s ease 0s
    &:hover
      color: #000
  &.fade
    .modal-dialog
      opacity: 0
      transition: transform 0.3s ease-out
  &.in
    .modal-dialog
      opacity: 1
  &.small
    .modal-dialog
      max-width: 468px
  .modal-dialog
    position: relative
    margin: 40px auto 40px
    width: auto
    max-width: 700px
    background: transparent
    padding: 0
    z-index: 1001
    .modal-content
      padding: 20px
      position: relative
      background: #fff
      background-clip: padding-box
      outline: 0
      border-radius: 0
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0)
      .modal-body
        position: relative
      .modal-header
        display: block
        .modal-title
          color: black
          font-size: 24px
          font-weight: 400
          line-height: 1.2
          margin: 0 0 25px
          padding: 0 10px 0 0
          @media #{$small-only}
            font-size: 18px
.modal-scrollbar-measure
  position: absolute
  top: -9999px
  width: 50px
  height: 50px
  overflow: scroll

.collapsing 
  position: relative
  height: 0
  overflow: hidden
  transition-timing-function: ease
  transition-duration: .35s
  transition-property: height, visibility
.collapse
  display: none
.collapse.in
  display: block



