@charset "UTF-8";

// Default Variables

$slick-font-path: "./fonts/" !default;
$slick-font-family: "slick" !default;
$slick-loader-path: "./" !default;
$slick-arrow-color: white !default;
$slick-dot-color: black !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-prev-character: '\2190' !default;
$slick-next-character: '\2192' !default;
$slick-dot-character: '\2022' !default;
$slick-dot-size: 6px !default;
$slick-opacity-default: .75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: .25 !default;


@function slick-image-url($url) {
  @if function-exists(image-url) {
    @return image-url($url, false, false);
  }
  @else  {
    @return url($slick-loader-path + $url);
  }
}

@function slick-font-url($url) {
  @if function-exists(font-url) {
    @return font-url($url);
  }
  @else  {
    @return url($slick-font-path + $url);
  }
}

/* Slider */

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
  outline: none!important;
  &:focus {
    outline: none;
  }

  .slick-loading & {
    background: #fff url("../../build/icons/ajax-loader.gif") center center no-repeat;
  }

  &.dragging {
    cursor: pointer;
    cursor: hand;
  }
}
.slick-slider .slick-track {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  outline: none!important;
  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }

  .slick-loading & {
    visibility: hidden;
  }
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  outline: none!important;
  [dir="rtl"] & {
    float: right;
  }
  img {
    display: block;
  }
  &.slick-loading img {
    display: none;
  }

  display: none;

  &.dragging img {
    pointer-events: none;
  }

  .slick-initialized & {
    display: block;
  }

  .slick-loading & {
    visibility: hidden;
  }

  .slick-vertical & {
    display: block;
    height: auto;
    border: 1px solid transparent;
  }
}

///* Icons */
//@if $slick-font-family == "slick" {
//  @font-face {
//      font-family:"slick";
//      src:    slick-font-url("slick.eot");
//      src:    slick-font-url("slick.eot?#iefix") format("embedded-opentype"),
//              slick-font-url("slick.woff") format("woff"),
//              slick-font-url("slick.ttf") format("truetype"),
//              slick-font-url("slick.svg#slick") format("svg");
//      font-weight: normal;
//      font-style: normal;
//  }
//}


.slick-dots {
  text-align: center;
  font-size: 0;
  width: 100%;
  li {
    margin: 0 6px;
    &.slick-active, &:hover {
      button {
        background: #dbdbdb;
        &:after {
          background: transparent;
        }
      }
    }
    button {
      border-radius: 50%;
      width: 10px;
      height: 10px;
      border: 0;
      padding: 0;
      outline: 0;
      background: transparent;
      position: relative;

      &:after {
        content: "";
        position: absolute;
        border-radius: 50%;
        left: 2px;
        background: #b2b1b1;
        display: block;
        top: 2px;
        width: 6px;
        height: 6px;
      }
    }
    display: inline-block;
    vertical-align: middle;
  }
}
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  background: transparent;
  border: 0;
  width: 54px;
  height: 50px;
  margin: {
    top: -25px;
  }
  font-size: 0;
  color: #000;
  cursor: pointer;
  top: 50%;
  padding: 0;
  margin-top: -17px;
  outline: none;
  text-align: center;
  opacity: 1;
  @include vertical;
  z-index: 10;
  transition: all 0.1s ease 0s;
  &:before {
    font-size: 2rem;
    font-family: 'icomoon' !important;
    speak: none;
    display: inline-block;
    vertical-align: middle;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  &:hover {
  }
  &.slick-disabled {
    display: none!important;
  }
}
//.slick-next {
//  right: 0;
//  &:before {
//    content: "\e911";
//  }
//}
//.slick-prev {
//  left: 0;
//  &:before {
//    content: "\e910";
//  }
//}

.slick-slider {
  margin-bottom: 0;
}
