doctype html
html
  head
    meta( http-equiv="Content-Type" content="text/html; charset=utf-8")
    title One Moda
    link(href='http://fonts.googleapis.com/css?family=Aldrich' rel='stylesheet' type='text/css')
    style.
      #wrapper {
        width: 980px;
        margin: 0 auto;
        background: #fff;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      }

      ul.task-list {
        padding: 15px;
        margin: 0
      }

      ul.task-list li {
        margin-bottom: 10px;
        font-size: 16px;
        list-style: none;
        font-family: 'Aldrich', sans-serif;
      }

      ul.task-list li a {
        color: #1b8af1;
        text-decoration: none;
      }

      ul.task-list li a:hover {
        text-decoration: none
      }

      ul.task-list li .status {
        display: inline-block;
        vertical-align: middle;
        padding: 0 10px;
        line-height: 1.2;
        color: #fff;
      }

      ul.task-list li .adaptive {
        display: inline-block;
        vertical-align: middle;
        padding: 0 10px;
        line-height: 1.2;
        color: #fff;
      }

      ul.task-list li .status.process {
        background: #e8b325;
      }

      ul.task-list li .adaptive.process {
        background: #e8b325;
      }

      ul.task-list li span.status.done {
        background: #86b03c;
      }

      ul.task-list li span.adaptive.done {
        background: #86b03c;
      }

      ul.task-list li .status.failed {
        background: #c83b27;
      }

      ul.task-list li .adaptive.failed {
        background: #c83b27;
      }

      h4 {
        font-family: 'Aldrich', cursive;
        color: #282828;
        font-size: 30px;
        font-weight: 700;
        margin: 0;
        padding: 20px;
      }

      h3 {
        font-family: 'Aldrich', cursive;
        color: navy;
        font-size: 50px;
        font-weight: 700;
        margin: 0;
      }
  body
    #wrapper
      h3 One Moda
      mixin link(name, status, href,statusMobile)
        li
          a(target="_blank" href=href)= name + " - "
          span(class="status " + status)= status
          span &nbsp;&nbsp;-&nbsp;&nbsp; adaptive status&nbsp;&nbsp;&nbsp;&nbsp;
          span(class="adaptive " + statusMobile)= statusMobile
      ul.task-list
        h4 pages
        +link('1.  LeBruk_01_Index_v_08.psd', 'process', 'main.html', 'process')
        +link('2.  LeBruk_02_Calatog_v_01.psd', 'process', '#', 'process')
        +link('3.  LeBruk_03_Item_v_01_new.psd', 'process', '#', 'process')
        +link('4.  LeBruk_04_News_01_new.psd', 'process', '#', 'process')
        +link('5.  LeBruk_04_News_opened_02_new.psd', 'process', '#', 'process')
        +link('6.  LeBruk_05_Services_v_01_new.psd', 'process', '#', 'process')
        +link('7.  LeBruk_06_Pro_company_v_01_new.psd', 'process', '#', 'process')
        +link('8.  LeBruk_07_Contacts_v_01_new.psd', 'process', '#', 'process')
