include mixins/mixins.jade
doctype html
html
	include partials/head
	body
		noscript.no_script_message.
			We're sorry but our site <strong>requires</strong> JavaScript.
		.wrapper
			include layout/header
			main(role="main")
				section.main-slider
					#main-slider
						.view-catalog
							a(href="#").w-btn
								span.help Дивитися каталог
						.item
							.mask-wrap
								img(src="icons/hexagon1.svg" alt="")
								.img
									img(src="images/main-slider-item.jpg" alt="main-slider-item.jpg")
						.item
							.mask-wrap
								img(src="icons/hexagon1.svg" alt="")
								.img
									img(src="images/main-slider-item.jpg" alt="main-slider-item.jpg")
						.item
							.mask-wrap
								img(src="icons/hexagon1.svg" alt="")
								.img
									img(src="images/main-slider-item.jpg" alt="main-slider-item.jpg")
					#main-slider-nav
						.item
							.extra-img
								.price
									span.help 57.00 <span class="currency">грн/м2</span>
								img(src="images/main-slider-extra_img.png" alt="")
							.description
								h2.title
									a(href="#") Старе місто
								p.
									Перетворіть свій двір у затишний куточок старого міста. Відчуйте подих часу, крокуючи бруківкою, що увібрала в себе легку ходу вишуканих панночок, стук коліс екіпажів, метушню ярмаркової площі, аромат легенд величних замків. Різнобарвні округлі камені запрошують відкрити їх таємниці.
						.item
							.extra-img
								.price
									span.help 57.00 <span class="currency">грн/м2</span>
								img(src="images/main-slider-extra_img2.png" alt="")
							.description
								h2.title
									a(href="#") Фасадний камінь «Рустік»
								p.
									Перетворіть свій двір у затишний куточок старого міста. Відчуйте подих часу, крокуючи бруківкою, що увібрала в себе легку ходу вишуканих панночок, стук коліс екіпажів, метушню ярмаркової площі, аромат легенд величних замків. Різнобарвні округлі камені запрошують відкрити їх таємниці.
						.item
							.extra-img
								.price
									span.help 57.00 <span class="currency">грн/м2</span>
								img(src="images/main-slider-extra_img.png" alt="")
							.description
								h2.title
									a(href="#") Старе місто
								p.
									Перетворіть свій двір у затишний куточок старого міста. Відчуйте подих часу, крокуючи бруківкою, що увібрала в себе легку ходу вишуканих панночок, стук коліс екіпажів, метушню ярмаркової площі, аромат легенд величних замків. Різнобарвні округлі камені запрошують відкрити їх таємниці.

				section.gradient-block
					.inner-container
						.service-list
							.service-item
								.icon-vector-1
								.title Власне виробництво
								.info
									p Власне виробництво за сучасними <br/>європейськими технологіями на <br/>високотехнологічному обладнанні
							.service-item
								.icon-vector-2
								.title Монтаж та укладання
								.info
									p Якісний, професійний монтаж та укладка. <br/>Виконання робіт з благоустрою, влаштування <br/>дорожнього покриття.
				section.trust-us-section
					.inner-container
						.left-block
							.h2 Довірте свої клопоти професіоналам
							p Ми працюємо на результат, а він очевидний. Наша продукція користується неабиякою популярністю. Як показує практика, бруківка має прекрасні експлуатаційні характеристики та довгий термін служби.
							p Якісна бруківка, професійне вкладання, оптимальні ціни. Це те, що пропонуємо вам ми. Компанія «Бетон Брук Серсіс» — команда тих, хто дбає про ваш комфорт. Ретельно дбаємо, щоб кожен замовник був задоволений співпрацею з нами.
							p Ми звикли працювати на результат та задля вашого майбутнього.
							.text-left
								a(href="#").w-btn.gray-btn
									span.help З нами легко зв’язатися
						.collage
							.hex1
								img(src="icons/hex2.svg" alt="")
								.caption
									.help
										.count 13
										.c-hint років на ринку
							.hex2
								img(src="icons/hex3.svg" alt="")
								.caption
									.help
										.count 265
										.c-hint успішних проектів
							.hex3
								img(src="icons/hex.svg" alt="")
								.caption
									.help
										.count 2658 м<span class="sup">2</span>
										.c-hint викладено площі
				section.last-projects
					.inner-container
						.h2
							.a Останні виконані проекти
					.page-container
						ul.gallery#blur-gallery
							li
								a(href='#')#some-element-1
									img(src='images/works/img-1.jpg')
									.hover-info
										span.place Кузнецовськ
										span.work Укладання бруківки в м. Кузнецовськ (об’єкт № 9)
							li
								a(href='#')#some-element-2
									img(src='images/works/img-2.jpg')
									.hover-info
										span.place Кузнецовськ
										span.work Укладання бруківки в м. Кузнецовськ (об’єкт № 9)
							li
								a(href='#')#some-element-3
									img(src='images/works/img-3.jpg')
									.hover-info
										span.place Кузнецовськ
										span.work Укладання бруківки в м. Кузнецовськ (об’єкт № 9)
							li
								a(href='#')#some-element-4
									img(src='images/works/img-4.jpg')
									.hover-info
										span.place Кузнецовськ
										span.work Укладання бруківки в м. Кузнецовськ (об’єкт № 9)
							li
								a(href='#')#some-element-5
									img(src='images/works/img-5.jpg')
									.hover-info
										span.place Кузнецовськ
										span.work Укладання бруківки в м. Кузнецовськ (об’єкт № 9)
							li
								a(href='#')#some-element-6
									img(src='images/works/img-6.jpg')
									.hover-info
										span.place Кузнецовськ
										span.work Укладання бруківки в м. Кузнецовськ (об’єкт № 9)
							li
								a(href='#')#some-element-7
									img(src='images/works/img-7.jpg')
									.hover-info
										span.place Кузнецовськ
										span.work Укладання бруківки в м. Кузнецовськ (об’єкт № 9)
							li
								a(href='#')#some-element-8
									img(src='images/works/img-8.jpg')
									.hover-info
										span.place Кузнецовськ
										span.work Укладання бруківки в м. Кузнецовськ (об’єкт № 9)
							li
								a(href='#')#some-element-9
									img(src='images/works/img-9.jpg')
									.hover-info
										span.place Кузнецовськ
										span.work Укладання бруківки в м. Кузнецовськ (об’єкт № 9)
				section.clients-slider
					.inner-container
						h2.title
							.a Наші клієнти
					.container
						#clientsCarousel
							each val in ['img-1.jpg', 'img-2.jpg', 'img-3.jpg', 'img-4.jpg', 'img-1.jpg']
								.item
									img(src="images/clients/"+val)
				section.full-width-banner
					img(src="./images/index-promo.jpg" alt="")
					.caption
						.help Бруківка <br/>по ціні виробника
		include layout/footer
		include partials/js