include mixins/mixins.jade
doctype html
html
  include partials/head
  body
    noscript.no_script_message.
      We're sorry but our site <strong>requires</strong> JavaScript.
    .wrapper
      header
        .container
          .header-wrap
            .logo
              a(href='#')
                img(src='images/logo.png' alt='LeBruk Logo')
            ul.main-nav
              li
                a(href='#') Продукція
              li.active
                a(href='#') Новини
              li
                a(href='#') Послуги
              li
                a(href='#') Про компанію
              li
                a(href='#') Контакти
          include layout/languages-links.jade
      main(role="main")
        section.news-articles
          .container
            .content-container
              h3.title Новини
              .article
                .img-wrap
                  .img
                    img(src="images/news/img-1.jpg" alt="")
                    .icon-hexagon1
                .text-wrap
                  .text
                    h4.article-title «LeBruk» – міцна продукція, <br> але гнучкий підхід
                    p Лучани мають змогу встелити свої подвір’я бруківкою європейської якості. Про особливості та різноманіття оздоблювальних матеріалів ВІПу розповів генеральний директор ТзОВ «LeBruk» Сергій Стрихарчук. Сучасні будинки – це не тільки краса і функціональність інтер’єру та оздоби, а й привабливі подвір’я, майданчики чи доріжки. Тож не дивно, що ринок будматеріалів нині пропонує чималий вибір бруківки [...]
                    span.date 09.04.2016
              .article
                .img-wrap
                  .img
                    img(src="images/news/img-2.jpg" alt="")
                    .icon-hexagon1
                .text-wrap
                  .text
                    h4.article-title Премія «Люди року-2014.Волинь»
                    p Премія “Люди року-2014.Волинь” У рамках головної події Волині – Премії «Люди Року-2014.Волинь» – відзначили найдостойніших жителів краю та організації області. Урочистості, організовані у рамках загальнонаціональної програми «Люди XXI століття», відбулися 8 грудня. А найкращими матеріалами для будівництва визнали продукцію компанії ТзОВ «БетонБрукСервіс» – саме вона отримала відзнаку в рамках номінації «Виробництво будівельних матеріалів року». Отримував [...]
                    span.date 09.04.2014
        include layout/landing/last-projects
    include layout/footer
    include partials/js.jade